@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Silkscreen', cursive;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5728ff+1,ff7c3f+100 */
  background: #5728ff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #5728ff 1%,
    #ff7c3f 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #5728ff 1%,
    #ff7c3f 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #5728ff 1%,
    #ff7c3f 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5728ff', endColorstr='#ff7c3f',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#wrapper {
  width: 80%;
  margin: auto;
}

header {
  text-align: center;
}

header p {
  color: #14f300;
}

h2 {
  text-align: center;
}

/* refresh button */

#refresher {
  color: #5050ff;
  font-weight: bold;
  box-shadow: 15px 0 5px -2px #333;
  border: 5px solid goldenrod;
  background-color: #ff7c3f;
  padding: 1rem;
  border-radius: 25%;
}

/* drag and drop  */

#div1 {
  background-image: url('../assets/door.png');
  background-repeat: no-repeat;
  width: 390px;
  height: 850px;
  padding: 10px;
  margin: auto;
  box-shadow: 15px 0 5px -2px #333;
}

#div2 {
  color: #14f300;
  font-size: 2rem;
  text-align: center;
}

/* geolocation */

#show,
#message {
  display: block;
  margin: auto;
}

#show {
  background-image: url(../assets/doormat.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0;
}

#message {
  color: #14f300;
  font-size: 2rem;
  background-color: #333;
  padding: 2rem;
}

/* click counter / web storage */

#clicker {
  padding: 5rem;
  text-align: center;
}

#result {
  color: #33198f;
  font-size: 1.5rem;
}

b {
  color: #0c8301;
  text-decoration: underline;
}

p {
  text-align: center;
}

/* facebook api page plugin */

#pcLogOn {
  text-align: center;
}

#pcButton {
  position: relative;
  right: 245px;
  bottom: 270px;
}

#fb-page {
  position: relative;
  right: 43px;
  bottom: 353px;
  margin: 0;
  text-align: center;
}

/* google maps api embed */

#map-printer {
  text-align: center;
}

#map {
  text-align: center;
  padding: 0.5rem;
}

/* breakpoint at 750px but i have to stop working on this */

@media only screen and (max-width: 750px) {
  #wrapper {
    width: fit-content;
  }

  #show {
    width: 60%;
    height: 100%;
  }

  div {
    padding: 0;
    margin: 0;
  }

  h2,
  h3,
  p {
    font-size: 1rem;
    margin: auto;
    display: inline;
    text-align: center;
    word-wrap: break-word;
  }

  #message {
    padding: 0;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1.8rem;
    display: inline;
  }
}
